:root {
  --black: #16161D;
  --black-450: #303037;
  --black-400: #494950;
  --black-350: #63636A;
  --black-300: #7c7c83;
  --black-250: #95959C;

  --white: #FFFFFF;

  --success-400: #5FBE91;
  --error-400: #FF4060;
}
