.cContact {
  :global {
    .c-contact {
      &-section-form {
        padding: 0 1em;

        &-grid {
          display: grid;
          grid-template-columns: 0.4fr 1fr;
          align-items: center;
          gap: var(--px48);

          &-image {
            display: flex;
            flex-direction: column;

            &-wrapper {
              display: flex;
              align-items: center;
              width: 100%;
              max-width: 100%;
              margin: 0 auto;
              border-radius: var(--px12);
              box-shadow: 0 5px 15px rgba(0,0,0,0.4);
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

  