.cFooter {
  &:global {
    &.c-footer {
      padding: 1em;

      >.c-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      .sMedia svg {
        margin: 20px;
        font-size: 44px;
        cursor: pointer;
      }

      .copyRight p {
        margin-bottom: 0;
      }
    }
  }
}